@import "../../variables";


button{
    color: $white-color;
    background-color: $theme-alter-color;
    border-radius: 1rem;
    border: none;
    width: 20%;
    height: 1.9rem;
    font-family: $them-alter-font;
    font-size: 0.85rem;
}